Temp
.DS_store
Library
Assets/Leap Motion
Assets/LeapMotion
Assets/Dive
Assets/OVR
Assets/Plugins
Assets/Tuscany
Assets/LeapMotion+Dive
Assets/LeapMotion+OVR
Assets/Gizmos
*.meta
*.app
*.sln
*.csproj
*.unityproj
Assets/*.unity
*.unity
